### Collin Hough, Matt Kaiser
### ECE 1170: Semester Project
The purpose of this file is to process all yearly passing data from 2012-2021. This will require appending all yearly datasets together, adding extra data columns for more averaging statistics, and performing data cleanup.

In [1]:
import os
import glob
import pandas as pd

# Find rushing data file names
path = "../data/raw/passing"
files = glob.glob(path + "/*.csv")
print(files)

['../data/raw/passing/passing_2018.csv', '../data/raw/passing/passing_2019.csv', '../data/raw/passing/passing_2021.csv', '../data/raw/passing/passing_2020.csv', '../data/raw/passing/passing_2012.csv', '../data/raw/passing/passing_2013.csv', '../data/raw/passing/passing_2017.csv', '../data/raw/passing/passing_2016.csv', '../data/raw/passing/passing_2014.csv', '../data/raw/passing/passing_2015.csv']

In [2]:
# Load files into dataframes
df_list = (pd.read_csv(file) for file in files)

In [3]:
# Concatenate dataframes
df = pd.concat(df_list, ignore_index=True)
df.head()

,Player,Tm,Age,Pos,G,GS,QBrec,Cmp,Att,Cmp%,...,Y/C,Y/G,Rate,QBR,Sk,Yds.1,Sk%,NY/A,ANY/A,id
0,Ben Roethlisberger,PIT,36,QB,16,16,9-6-1,452,675,67.0,...,11.3,320.6,96.5,69.6,24,166,3.4,7.10,7.04,RoetBe00
1,Patrick Mahomes*+,KAN,23,QB,16,16,12-4-0,383,580,66.0,...,13.3,318.6,113.8,80.3,26,171,4.3,8.13,8.89,MahoPa00
2,Matt Ryan,ATL,33,QB,16,16,7-9-0,422,608,69.4,...,11.7,307.8,108.1,65.7,42,296,6.5,7.12,7.71,RyanMa00
3,Jared Goff*,LAR,24,QB,16,16,13-3-0,364,561,64.9,...,12.9,293.0,101.1,63.6,33,223,5.6,7.52,7.69,GoffJa00
4,Andrew Luck*,IND,29,QB,16,16,10-6-0,430,639,67.3,...,10.7,287.1,98.7,69.6,18,134,2.7,6.79,6.95,LuckAn00

In [4]:
# Check dataframe info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 981 entries, 0 to 980
Data columns (total 27 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  981 non-null    object
 1   Tm      866 non-null    object
 2   Age     981 non-null    int64
 3   Pos     980 non-null    object
 4   G       981 non-null    int64
 5   GS      981 non-null    int64
 6   QBrec   546 non-null    object
 7   Cmp     981 non-null    int64
 8   Att     981 non-null    int64
 9   Cmp%    981 non-null    float64
 10  Yds     981 non-null    int64
 11  TD      981 non-null    int64
 12  TD%     981 non-null    float64
 13  Int     981 non-null    int64
 14  Int%    981 non-null    float64
 15  Y/A     981 non-null    float64
 16  AY/A    981 non-null    float64
 17  Y/C     855 non-null    float64
 18  Y/G     981 non-null    float64
 19  Rate    981 non-null    float64
 20  QBR     892 non-null    float64
 21  Sk      981 non-null    int64
 22  Yds.1   981 non-null    int64
 23  Sk%     981 non-null    float64
 24  NY/A    981 non-null    float64
 25  ANY/A   981 non-null    float64
 26  id      981 non-null    object
dtypes: float64(12), int64(10), object(5)
memory usage: 207.1+ KB

In [5]:
# Rearrange columns
cols = df.columns.tolist()
cols = cols[-1:] + cols[:-1]
df = df[cols]
df.head()

,id,Player,Tm,Age,Pos,G,GS,QBrec,Cmp,Att,...,AY/A,Y/C,Y/G,Rate,QBR,Sk,Yds.1,Sk%,NY/A,ANY/A
0,RoetBe00,Ben Roethlisberger,PIT,36,QB,16,16,9-6-1,452,675,...,7.5,11.3,320.6,96.5,69.6,24,166,3.4,7.10,7.04
1,MahoPa00,Patrick Mahomes*+,KAN,23,QB,16,16,12-4-0,383,580,...,9.6,13.3,318.6,113.8,80.3,26,171,4.3,8.13,8.89
2,RyanMa00,Matt Ryan,ATL,33,QB,16,16,7-9-0,422,608,...,8.7,11.7,307.8,108.1,65.7,42,296,6.5,7.12,7.71
3,GoffJa00,Jared Goff*,LAR,24,QB,16,16,13-3-0,364,561,...,8.5,12.9,293.0,101.1,63.6,33,223,5.6,7.52,7.69
4,LuckAn00,Andrew Luck*,IND,29,QB,16,16,10-6-0,430,639,...,7.4,10.7,287.1,98.7,69.6,18,134,2.7,6.79,6.95

In [6]:
# Filter out positions except QB
positions = ["QB"]
df = df[df["Pos"].isin(positions)]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 708 entries, 0 to 973
Data columns (total 27 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      708 non-null    object
 1   Player  708 non-null    object
 2   Tm      632 non-null    object
 3   Age     708 non-null    int64
 4   Pos     708 non-null    object
 5   G       708 non-null    int64
 6   GS      708 non-null    int64
 7   QBrec   545 non-null    object
 8   Cmp     708 non-null    int64
 9   Att     708 non-null    int64
 10  Cmp%    708 non-null    float64
 11  Yds     708 non-null    int64
 12  TD      708 non-null    int64
 13  TD%     708 non-null    float64
 14  Int     708 non-null    int64
 15  Int%    708 non-null    float64
 16  Y/A     708 non-null    float64
 17  AY/A    708 non-null    float64
 18  Y/C     697 non-null    float64
 19  Y/G     708 non-null    float64
 20  Rate    708 non-null    float64
 21  QBR     694 non-null    float64
 22  Sk      708 non-null    int64
 23  Yds.1   708 non-null    int64
 24  Sk%     708 non-null    float64
 25  NY/A    708 non-null    float64
 26  ANY/A   708 non-null    float64
dtypes: float64(12), int64(10), object(5)
memory usage: 154.9+ KB

In [7]:
# Add columns for Cmp/G and Att/G
df["Cmp/G"] = df["Cmp"]/df["G"]
df["Att/G"] = df["Att"]/df["G"]
df = df.round({"Cmp/G":1,"Att/G":1})
df.head()

,id,Player,Tm,Age,Pos,G,GS,QBrec,Cmp,Att,...,Y/G,Rate,QBR,Sk,Yds.1,Sk%,NY/A,ANY/A,Cmp/G,Att/G
0,RoetBe00,Ben Roethlisberger,PIT,36,QB,16,16,9-6-1,452,675,...,320.6,96.5,69.6,24,166,3.4,7.10,7.04,28.2,42.2
1,MahoPa00,Patrick Mahomes*+,KAN,23,QB,16,16,12-4-0,383,580,...,318.6,113.8,80.3,26,171,4.3,8.13,8.89,23.9,36.2
2,RyanMa00,Matt Ryan,ATL,33,QB,16,16,7-9-0,422,608,...,307.8,108.1,65.7,42,296,6.5,7.12,7.71,26.4,38.0
3,GoffJa00,Jared Goff*,LAR,24,QB,16,16,13-3-0,364,561,...,293.0,101.1,63.6,33,223,5.6,7.52,7.69,22.8,35.1
4,LuckAn00,Andrew Luck*,IND,29,QB,16,16,10-6-0,430,639,...,287.1,98.7,69.6,18,134,2.7,6.79,6.95,26.9,39.9

In [8]:
# Limit data to 2022 players

# Load in 2022 data and limit to desired positions
path = "../data/raw/2022/passing_2022.csv"
df_2022 = pd.read_csv(path)
df_2022 = df_2022[df_2022["Pos"].isin(positions)]
df_2022.Pos.unique()

array(['QB'], dtype=object)

In [9]:
# Convert unique 2022 ids into a list and filter large data
ids_2022 = df_2022["id"].tolist()
df = df[df["id"].isin(ids_2022)]
df.head()

,id,Player,Tm,Age,Pos,G,GS,QBrec,Cmp,Att,...,Y/G,Rate,QBR,Sk,Yds.1,Sk%,NY/A,ANY/A,Cmp/G,Att/G
1,MahoPa00,Patrick Mahomes*+,KAN,23,QB,16,16,12-4-0,383,580,...,318.6,113.8,80.3,26,171,4.3,8.13,8.89,23.9,36.2
2,RyanMa00,Matt Ryan,ATL,33,QB,16,16,7-9-0,422,608,...,307.8,108.1,65.7,42,296,6.5,7.12,7.71,26.4,38.0
3,GoffJa00,Jared Goff*,LAR,24,QB,16,16,13-3-0,364,561,...,293.0,101.1,63.6,33,223,5.6,7.52,7.69,22.8,35.1
5,RodgAa00,Aaron Rodgers*,GNB,35,QB,16,16,6-9-1,372,597,...,277.6,97.6,58.0,49,353,7.6,6.33,6.96,23.2,37.3
6,BradTo00,Tom Brady*,NWE,41,QB,16,16,11-5-0,375,570,...,272.2,97.7,68.4,21,147,3.6,7.12,7.26,23.4,35.6

In [10]:
# Sort data by id and age
df = df.sort_values(by = ["id","Age"], ascending = [True, True])
df.head()

,id,Player,Tm,Age,Pos,G,GS,QBrec,Cmp,Att,...,Y/G,Rate,QBR,Sk,Yds.1,Sk%,NY/A,ANY/A,Cmp/G,Att/G
151,AlleBr00,Brandon Allen,DEN,27,QB,3,3,1-2-0,39,84,...,171.7,68.3,40.1,9,59,9.7,4.90,4.58,13.0,28.0
363,AlleBr00,Brandon Allen,CIN,28,QB,5,5,1-4-0,90,142,...,185.0,82.0,37.5,7,51,4.7,5.87,5.33,18.0,28.4
267,AlleBr00,Brandon Allen,NaN,29,QB,6,1,0-1-0,17,34,...,24.8,81.6,8.4,4,33,10.5,3.05,4.11,2.8,5.7
31,AlleJo02,Josh Allen,BUF,22,QB,12,11,5-6-0,169,320,...,172.8,67.9,49.8,28,213,8.0,5.35,4.37,14.1,26.7
128,AlleJo02,Josh Allen,BUF,23,QB,16,16,10-6-0,271,461,...,193.1,85.3,49.4,38,237,7.6,5.72,5.71,16.9,28.8

In [11]:
# Test finding a player's career data (ex: Tom Brady)
test_df = df[df["id"] == "BradTo00"]
test_df.head(10)

,id,Player,Tm,Age,Pos,G,GS,QBrec,Cmp,Att,...,Y/G,Rate,QBR,Sk,Yds.1,Sk%,NY/A,ANY/A,Cmp/G,Att/G
438,BradTo00,Tom Brady*,NWE,35,QB,16,16,12-4-0,401,637,...,301.7,98.7,76.1,27,182,4.1,7.00,7.48,25.1,39.8
525,BradTo00,Tom Brady*,NWE,36,QB,16,16,12-4-0,380,628,...,271.4,87.3,63.1,40,256,6.0,6.12,6.13,23.8,39.2
804,BradTo00,Tom Brady*,NWE,37,QB,16,16,12-4-0,373,582,...,256.8,97.4,76.2,21,134,3.5,6.59,7.01,23.3,36.4
897,BradTo00,Tom Brady*,NWE,38,QB,16,16,12-4-0,402,624,...,298.1,102.2,68.4,38,225,5.7,6.87,7.48,25.1,39.0
718,BradTo00,Tom Brady*,NWE,39,QB,12,12,11-1-0,291,432,...,296.2,112.2,79.4,15,87,3.4,7.76,8.81,24.2,36.0
605,BradTo00,Tom Brady*+,NWE,40,QB,16,16,13-3-0,385,581,...,286.1,102.8,70.6,35,201,5.7,7.10,7.56,24.1,36.3
6,BradTo00,Tom Brady*,NWE,41,QB,16,16,11-5-0,375,570,...,272.2,97.7,68.4,21,147,3.6,7.12,7.26,23.4,35.6
112,BradTo00,Tom Brady,NWE,42,QB,16,16,12-4-0,373,613,...,253.6,88.0,55.7,27,185,4.2,6.05,6.24,23.3,38.3
325,BradTo00,Tom Brady,TAM,43,QB,16,16,11-5-0,401,610,...,289.6,102.2,66.0,21,143,3.3,7.12,7.53,25.1,38.1
208,BradTo00,Tom Brady*,NaN,44,QB,17,17,13-4-0,485,719,...,312.7,102.1,68.1,22,144,3.0,6.98,7.41,28.5,42.3

In [12]:
# Cleanup indexes of data
df = df.reset_index(drop=True)
df.head()

,id,Player,Tm,Age,Pos,G,GS,QBrec,Cmp,Att,...,Y/G,Rate,QBR,Sk,Yds.1,Sk%,NY/A,ANY/A,Cmp/G,Att/G
0,AlleBr00,Brandon Allen,DEN,27,QB,3,3,1-2-0,39,84,...,171.7,68.3,40.1,9,59,9.7,4.90,4.58,13.0,28.0
1,AlleBr00,Brandon Allen,CIN,28,QB,5,5,1-4-0,90,142,...,185.0,82.0,37.5,7,51,4.7,5.87,5.33,18.0,28.4
2,AlleBr00,Brandon Allen,NaN,29,QB,6,1,0-1-0,17,34,...,24.8,81.6,8.4,4,33,10.5,3.05,4.11,2.8,5.7
3,AlleJo02,Josh Allen,BUF,22,QB,12,11,5-6-0,169,320,...,172.8,67.9,49.8,28,213,8.0,5.35,4.37,14.1,26.7
4,AlleJo02,Josh Allen,BUF,23,QB,16,16,10-6-0,271,461,...,193.1,85.3,49.4,38,237,7.6,5.72,5.71,16.9,28.8

In [13]:
# Re-test finding a player's career data
test_df = df[df["id"] == "BradTo00"]
test_df.head(10)

,id,Player,Tm,Age,Pos,G,GS,QBrec,Cmp,Att,...,Y/G,Rate,QBR,Sk,Yds.1,Sk%,NY/A,ANY/A,Cmp/G,Att/G
11,BradTo00,Tom Brady*,NWE,35,QB,16,16,12-4-0,401,637,...,301.7,98.7,76.1,27,182,4.1,7.00,7.48,25.1,39.8
12,BradTo00,Tom Brady*,NWE,36,QB,16,16,12-4-0,380,628,...,271.4,87.3,63.1,40,256,6.0,6.12,6.13,23.8,39.2
13,BradTo00,Tom Brady*,NWE,37,QB,16,16,12-4-0,373,582,...,256.8,97.4,76.2,21,134,3.5,6.59,7.01,23.3,36.4
14,BradTo00,Tom Brady*,NWE,38,QB,16,16,12-4-0,402,624,...,298.1,102.2,68.4,38,225,5.7,6.87,7.48,25.1,39.0
15,BradTo00,Tom Brady*,NWE,39,QB,12,12,11-1-0,291,432,...,296.2,112.2,79.4,15,87,3.4,7.76,8.81,24.2,36.0
16,BradTo00,Tom Brady*+,NWE,40,QB,16,16,13-3-0,385,581,...,286.1,102.8,70.6,35,201,5.7,7.10,7.56,24.1,36.3
17,BradTo00,Tom Brady*,NWE,41,QB,16,16,11-5-0,375,570,...,272.2,97.7,68.4,21,147,3.6,7.12,7.26,23.4,35.6
18,BradTo00,Tom Brady,NWE,42,QB,16,16,12-4-0,373,613,...,253.6,88.0,55.7,27,185,4.2,6.05,6.24,23.3,38.3
19,BradTo00,Tom Brady,TAM,43,QB,16,16,11-5-0,401,610,...,289.6,102.2,66.0,21,143,3.3,7.12,7.53,25.1,38.1
20,BradTo00,Tom Brady*,NaN,44,QB,17,17,13-4-0,485,719,...,312.7,102.1,68.1,22,144,3.0,6.98,7.41,28.5,42.3

In [14]:
# Convert df into a processed csv
path = "../data/processed/passing.csv"
df.to_csv(path)